{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="account">
    <div class="inset">
        <h3>
            <div style="float: left;">
                <a href="{% url 'home' %}" style="color: #000"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            </div>
            {% trans "SIGN IN" %}
        </h3><br>

        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}


        <div class="socialaccount_ballot">

          <ul class="socialaccount_providers btn btn-danger" style="list-style-type: none;">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>

          <div class="login-or" style="margin: 10px;">{% trans 'or' %}</div>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

        {% else %}
        <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        {% endif %}

        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
            {{ form.non_field_errors }}
            <input id="id_login" class="login-input" maxlength="30" name="login" placeholder="Username" type="text" />{{ form.login.errors }}<br>
            <input id="id_password"  class="login-input" name="password" placeholder="Password" type="password" />{{ form.password.errors }}<br>
            <div class="remember-forgot-section">
                <label for="id_remember">Remember Me</label>
                <input id="id_remember" name="remember" type="checkbox" /><br>
                <a class="forgot" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a><br><br><br>
            </div>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <button class="btn btn-danger btn-fill" type="submit">{% trans "Sign In" %}</button><br>
        </form><br>
        <div class="footnote">
            Don't have an account? <br><a href="{% url 'account_signup' %}">Sign up</a>
        </div>
    </div>
</div>

{% endblock %}
