{% extends "base_user.html" %}
{% block extra_head %}
    {% load static %}
    <meta charset="utf-8">
    <title>Bus Schedule</title>
    <script src="{% static 'javascript/busParse.js' %}"></script>
    <script src="{% static 'javascript/TimeUnit.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta http-equiv="refresh" content="40" />
{% endblock %}
{% block content %}
{% load static %}
<div ng-app="app" ng-controller="MainCtrl">
  <table id="businfo" style="margin: 0 auto; text-align: center;" cellpadding="20px">
    <tr>
      <th> Bus Route # </th>
      <th style = "text-align: center;"> Description </th>
      <th> Minutes to Arrival </th>
    </tr>
  </table>
</div>
{% endblock %}