{% extends 'base.html' %}
{% block content %}
    <p><b>{{ community.title }} {% if community.acronym %}({{ community.acronym }}){% endif %}</b><br/>
    {% if community.creator %}Created by: {{ community.creator }}{% endif %}
    {% if community.date_created %}on {{ community.date_created }}{% endif %}<br/>
    {% if community.phone_number %}{{ community.phone_number }}{% endif %}</p>
    {% if community.description %}{{ community.description }}{% endif %}
    <br/><br/>
    {% if member.active %}<a href="{% url 'communities_deactivate' community.slug %}">Deactivate {{ community.title }} Account</a>{% else %}<a href="{% url 'communities_join' community.slug %}">Join {{ community.title }}!</a>{% endif %}
{% endblock %}