{% extends "base_user.html" %}
{% block extra_head %}
    {% load static %}
    <script src="{% static 'javascript/busParse.js' %}"></script>
    <script src="{% static 'javascript/TimeUnit.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
{% block content %}
{% load static %}
<div ng-app="app" ng-controller="MainCtrl">
    <div class="wrap">
        <section class="square-col">
            <div class="square">
                <img src="{% static 'site/img/home/community-logo.png' %}"/>
                <h1><a href="/">Our Community</a></h1>
                <hr/>
            </div>

            <div class="square">
                <img src="{% static 'site/img/home/community-calendar.png' %}"/>
                <h1><a href="{% url 'notifications_view' %}">Notifications</a></h1>
                  <hr/>
            </div>

            <div class="square">
                <img src="{% static 'site/img/home/event-logo.png' %}"/>
                <h1><a href="{% url 'view_event' %}">Events</a></h1>
                  <hr/>
            </div>

            <div class="square">
                <img src="{% static 'site/img/home/meetup-logo.png' %}"/>
                  <h1>Meetups</h1>
{#                <h1><a href="{% url 'community_meetups_list' community.slug %}">Meetups</a></h1>#}
                  <hr/>
            </div>

            <div class="square">
                <img src="{% static 'site/img/home/search-logo.png' %}"/>
                <h1><a href="{% url 'bus_schedule_view' %}">Search</a></h1>
                  <hr/>
            </div>
        </section>

        <div class="dashboard">
            <h2 class="dashboard title">
                University of Washington Bothell
            </h2>
            {% block community_content %}
            {% endblock %}
        </div>

        <section class="square-col">
            <div class="square-full" style="color: #FFFFFF; text-align: center; font-size: 10px">COMMUNITY CHAT</div>
            <div class="square-full"></div>
            <div class="square-full"></div>
            <div class="square-full"></div>
            <div class="square-full"></div>
        </section>

    </div>
</div>
{% endblock %}


