{% load static %}
{% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
	{% for message in messages %}
	<li>{{message}}</li>
	{% endfor %}
      </ul>
    </div>
{% endif %}

<strong>Menu:</strong>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'rss_view' %}">RSS Feed</a></li>
    <li><a href="{% url 'accounts_view_profile' %}">My Profile</a></li>
    <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
    <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
</ul>

{% block content %}
{% endblock %}