{% extends "base_user.html" %}
{% block content %}
    {% load static %}
    <div ng-app="">
	</div>
    <h2 class="title-color-purple">University of Washington Bothell</h2>
    <div class="header">
        University of Washington Bothell
    </div>

    <h3>Communities</h3>
    {% for community in my_communities %}
        <li><a href="{% url 'communities_view' community.slug %}">{{community}}</a></li>
    {% endfor %}

    <h3>Meetups</h3>
    {% for meetup in meetup_list%}
        <li><a href="{% url 'meetups_view' meetup.community.slug meetup.id %}">{{meetup}}</a></li>
    {% endfor %}

{% endblock %}


