.glyphicon {
  font-family: "Glyphicons Halflings";
}

.ubuntu {
  font-family: Ubuntu;
}

.roboto {
  font-family: Roboto;
}

.arial {
  font-family: Arial;
}

.times-new-roman {
  font-family: "Times New Roman";
}

