.search-field {
    color: #488888;
    background-clip: padding-box;
    padding: .75rem .5rem;
    line-height: 1.25;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.search-button {
    background-clip: padding-box;
    background-color: #fff;
    padding: .75rem;
    line-height: 1.25;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.search-button i {
    color: #488888;
}

.input[type=text] {
    width: 150px;
    -webkit-transition: width 1s ease-out;
    transition: width 1s ease-out;
    color: black;
}

.input[type=type]::-webkit-input-placeholder {
    color: #999;
    opacity: 1;
}

input[type=text]:hover {
    width: 50%;
    color: black;
}