{% extends "index_user.html" %}
{% block head_title %}- Profile{% endblock %}
{% block main_content %}

    {% load static %}
    {% load profile_tags %}
    <h1>{{ profile.user }}'s Profile</h1>
    {% if profile.user.first_name or profile.user.last_name %}<b>Name:</b> {{ profile.user.first_name }} {{ profile.user.last_name }}<br/>{% endif %}
    <b>User since:</b> {{ profile.user.date_joined }}<br/>
    <b>E-mail addresses:</b><br/>
    {{ profile.user.email }}<br/>
    {% for email in emails %} {{ email.email }} <br/>{% endfor %}
    {% if current_user == profile.user %}<a href="{% url 'account_email' %}">modify e-mails</a><br/>{% endif %}
    {% if profile.position %}<b>Position: </b>{{ profile.position }}<br/>{% endif %}
    {% if profile.department %}<b>Department: </b>{{ profile.department }}<br/>{% endif %}
    {% if profile.interests %}<b>Interests: </b>{{ profile.interests }}<br/>{% endif %}
    {% if profile.transportation %}<b>Transportation: </b>{{ profile.transportation }}<br/>{% endif %}
    {% if profile.phone_number %}<b>Phone Number: </b>{{ profile.phone_number }}<br/>{% endif %}

    {% if profile.image %}
        {% load thumbnail %}
        <a href="{{ profile.image.image.url }}"><img src="{{ profile.image.image|thumbnail_url:'avatar' }}" alt="{% static 'site/img/accounts/profile/default.jpg' %}"></a>
    {% else %}
        <img src="{% static 'site/img/accounts/profiles/default.jpg' %}">
    {% endif %}
    {% if current_user == profile.user %}
        <br/><a href="{% url 'accounts_image_upload' %}">Change your picture</a>
        <a href={% url 'accounts_profile_edit' %}>Edit Profile</a><br/>
    {% endif %}
    {% if memberships.count > 0 %}
        <h2>Active Memberships:</h2>
        {% for membership in memberships %}
            <a href="{% url 'communities_view' membership.community.slug %}">{{ membership.community.title }}</a>
        {% endfor%}
    {% endif %}
    {% if meetups.count > 0 %}
        <h2>Attending Meetups:</h2>
        {% for meetup in meetups %}
            <a href="{% url 'meetups_view' meetup.community.slug meetup.id %}">{{ meetup }}</a><br/>
        {% endfor %}
    {% endif %}
{% endblock %}